# This is a NUCLEO STM32F303RE board with a single STM32F303RE chip.
# http://www.st.com/internet/evalboard/product/252419.jsp

# si uso programador externo
# source [find interface/stlink-v2.cfg]
# si uso programador embebido
source [find interface/stlink-v2-1.cfg]

#stm32f103 for example
set WORKAREASIZE 0x2000

source [find target/stm32f3x.cfg]

# use hardware reset, connect under reset
reset_config srst_only srst_nogate
init
halt
flash probe 0
stm32f3x mass_erase 0
reset
halt
#flash write_bank 0 Magneto_GTK_rom.bin 0
flash write_image nucleo_rom.elf
reset run
shutdown
